#main-copy {
  text-align: center;
  width: 80%;

  margin: 1vw auto;
}


/* #main-copy img{
  width:100%;
} */

h4 {
  font-size: 1.5em;
}

hr {
  border-top: 2px solid gold;
}

#main-poster {
  display: block;
  width: 80%;
  max-width: 1000px;
  margin: 2vh auto;
}

#main-ticket-link {
  /* border: 3px solid #7575ba; */
  /* color:rgb(13, 88, 13); */
  display: block;
  width: 200px;
  padding: 15px;
  font-size: 36px;
  text-align: center;
  margin: 2vh calc((100vw - 200px) / 2);
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 2.5em;
  }

  h4 {
    font-size: 1.2em;
  }
}

/* css gradient */

* {
  box-sizing: border-box;
  font-family: cursive;
}

body {
  display: grid;
  place-items: center;
  min-height: 100vh;
  /* background: hsl(0 0% 20%); */
  
}

.boujee-text {
  --bg-size: 400%;


  --color-one:   hsla(0, 100%, 50%, 1);
  --color-two: hsla(31, 100%, 50%, 1);
  --color-three: hsla(62, 100%, 50%, 1);
  --color-four: hsla(100, 100%, 50%, 1); 
  --color-five: hsla(186, 100%, 50%, 1);
  --color-six: hsla(271, 100%, 50%, 1);
  --color-seven: hsla(336, 100%, 50%, 1);

  font-family: sans-serif;
  /* font-family: 'Times New Roman', Times, serif; */
  font-size: clamp(3rem, 25vmin, 8rem);
  background: linear-gradient(
      90deg,
      var(--color-one),
      var(--color-two),
      var(--color-three),
      var(--color-four),
      var(--color-five),
      var(--color-six),
      var(--color-seven)
    )
    0 0 / var(--bg-size) 100%;
  color: transparent;
  background-clip: text;
}

@media (prefers-reduced-motion: no-preference) {
  .boujee-text {
    animation: move-bg 8s linear infinite;
  }
  @keyframes move-bg {
    to {
      background-position: var(--bg-size) 0;
    }
  }
}
