/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

* {
  /* font-family: cursive;
   */
  /* font-weight: bolder; */
  font-weight: 100;
}

a {
  text-decoration: none;
  font-family: cursive;
  /* color: white; */
  color:rgb(163, 163, 246);
  
}
a:hover{
  text-decoration: underline;
}

main {
  /* padding: 2vw; */
  /* background-color: rgb(57, 135, 57); */
  /* background-color: #bdbdf6; */
  min-height: 70vh;
}

header,
footer {
  /* background-color: #a3a3f6; */
  /* background-color: #7575ba; */
  color: white;
  /* padding: 10px 2vw; */
  /* padding: 20px 0; */
  padding: 15px 0;
}

nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

nav h1 {
  width: fit-content;
  margin: 0;
}

nav ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li{
  padding-right:0;
}

nav li a {
  display: block;
  text-align: center;
  padding: 1vw;
  margin: 0 0.5vw;
  text-transform: uppercase;
  text-transform: lowercase;
  text-decoration: none;
  color: #a3a3f6;
}

nav h1 {
  font-size: 40px;
}

#menu-button {
  display: none;
}

nav li a:hover {
text-decoration: underline;
}

.ticket-link {
  background-color: white;
  color: #a3a3f6;
  padding: 15px;
  font-size: 24px;
  border-radius: 10px;
  margin-left: 1vw;
}

.ticket-link:hover {
  color: white;
  background-color: #7575ba;
  border: 2px solid gold;
}

h2,h3{
  font-family: cursive;
  color:#a3a3f6;
}


footer {
  padding: 10px 0px;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}


#main-container{
  width: 100%;
}

.subheader{
margin-bottom:0;
}

/* media queries */


.half-width-image{
  width:50%
}

@media screen and (max-width: 700px) {

  .half-width-image{
    width:100%
  }

  header {
    display: block;
    margin: 0 auto;
  }

  nav {
    flex-flow: column nowrap;
    min-height: 61px;
    /* min-height: calc(3vw + 34px); */
  }

  /* nav h1 {
    display: block;
    width: fit-content;
    position: fixed;
    top: 3vw;
    left: 3vw;
    margin: 0;
} */

  nav li {
    display: block;
    font-size: 24px;
    margin: 2vh;
  }

  nav ul {
    display: none;
  }

  nav ul.is-active {
    display: block;
    margin-top: 61px;
  }

  nav h1 {
    position: absolute;
    left: 20px;
    top: 10px;
  }

  #menu-button {
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
    height: 41px;
    color: #a3a3f6;
    background-color: white;
    border: 0;
    border-radius: 10px;
    /* padding: 0 2vw; */
    padding: 0 0 0 2vw;
}
}

header,
footer{
  /* background: #a3a3f6; */
  width: 80%;
  margin: 0 auto;
  color: #a3a3f6;
  /* background: white; */
}

header{
  border-bottom: 1px solid #dadbd9;
}

footer{
  border-top: 1px solid #dadbd9;
}

footer p{
  margin-bottom:0;
  margin-top:0;
}

nav img{
  /* height: 100px; */
  height: 70px;
  height: 60px;
}


body{
/* background: #ffe6c2; */
/* background: #c3b091; */
background: white;
}


.logo-text{
  width: 75%;
  width: 55%;
  margin-top:10px;

}

p{
  line-height: 2em;
  color: #a3a3f6;
}

.emoji{
  font-size: 30px;
  display: inline;
}


.chainline{
  width:100%;
}

.no-bottom-margin{
  margin-bottom:0;
  margin-top:0;
}


.video{
  margin-bottom: 20px;

}


.year{
  margin: 20px 0;
}

.year img{
  border: 1px solid rgb(163, 163, 246);
  width: 70%;
  margin: 0 auto;
}

.by{
  color: rgb(163, 163, 246);
margin-top: 5px;
}


.photography-page .year img{
  width: 60%;
}

.quote{
  color: #a3a3f6;

  width: 70%;
  margin: 0 auto 10px;
}

h4{
  font-family: cursive;
  color: #a3a3f6;
}

.history h4{
  font-size: 30px;
}


.years .line{
  color: #a3a3f6;
  display: block;
}


.years .line b{

  font-weight: 700;
}



.wainestrolls img{
  display: inline-block;
width:32%
}


#info-current p{

line-height: 1.6em;

}